<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코치코</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeo.css') }}">
</head>
<body>
    <div class="container">
        <!-- 상단 배너 -->
        <div class="header">
            <div class="logo">
                <img src="static/images/글자 로고.png" alt="웹사이트 로고">
            </div>
            <div class="nav-links">
                <!-- 로그아웃 -->
                <a href="/logout" class="nav-link">로그아웃</a>

                <!-- 마이페이지 아이콘 -->
                <div class="circle-container">
                    <a href="/mypage">
                        <div class="circle-image">
                            <img src="static/images/[크기변환]마이페이지 아이콘.png" alt="마이페이지">
                        </div>
                    </a>
                    <div class="tooltip">마이페이지</div>
                </div>

                <!-- 홈페이지 아이콘 -->
                <div class="circle-container">
                    <a href="/home">
                        <div class="circle-image">
                            <img src="static/images/[크기변환]메인 페이지 아이콘.png" alt="홈페이지">
                        </div>
                    </a>
                    <div class="tooltip">홈페이지</div>
                </div>
            </div>
        </div>

        <!-- 광고 슬라이드 쇼 -->
        <div class="slider">
            <div class="slides">
                <div class="slide ad-1 active">
                    <img src="static/images/광고 1.PNG" alt="광고 1">
                </div>
                <div class="slide ad-2">
                    <img src="static/images/광고 2.PNG" alt="광고 2">
                </div>
                <div class="slide ad-3">
                    <img src="static/images/광고 3.PNG" alt="광고 3">
                </div>
            </div>
            <div class="dots">
                <div class="dot active"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>

        <!-- 남자, 여자 버튼 -->
        <div id="button">
            <ul class="button-list">
                <li id="male-box">남자</li>
                <li id="female-box">여자</li>
            </ul>
        </div>

        <!-- 남자 카테고리 관련 작은 박스들 -->
        <div class="small-boxes" id="male-boxes" style="display: none;">
            <div class="small-box" id="male-all">#전체</div>
            <div class="small-box" id="male-dandy">#댄디&미니멀</div>
            <div class="small-box" id="male-street">#스트릿룩</div>
            <div class="small-box" id="male-casual">#캐주얼</div>
            <div class="small-box" id="male-preppy">#프레피룩</div>
        </div>

        <!-- 여자 카테고리 관련 작은 박스들 -->
        <div class="small-boxes" id="female-boxes" style="display: none;">
            <div class="small-box" id="female-all">#전체</div>
            <div class="small-box" id="female-dandy">#댄디&미니멀</div>
            <div class="small-box" id="female-street">#스트릿룩</div>
            <div class="small-box" id="female-casual">#캐주얼</div>
            <div class="small-box" id="female-preppy">#프레피룩</div>
        </div>

        <!-- 남자 카테고리 사진들 -->
        <div class="photo-container male-photos hidden" id="male-dandy-photos">
            <div class="photo">
                <img src="static/images/남자 댄디룩 1.PNG" alt="dandy photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 댄디룩 2.PNG" alt="dandy photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 댄디룩 3.PNG" alt="dandy photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

        <div class="photo-container male-photos hidden" id="male-preppy-photos">
            <div class="photo">
                <img src="static/images/남자 프레피룩 1.PNG" alt="preppy photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 프레피룩 2.PNG" alt="preppy photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 프레피룩 3.PNG" alt="preppy photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

        <div class="photo-container male-photos hidden" id="male-street-photos">
            <div class="photo">
                <img src="static/images/남자 스트릿룩 1.PNG" alt="street photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 스트릿룩 2.PNG" alt="street photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 스트릿룩 3.PNG" alt="street photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

        <div class="photo-container male-photos hidden" id="male-casual-photos">
            <div class="photo">
                <img src="static/images/남자 캐주얼 1.jpg" alt="casual photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 캐주얼 2.PNG" alt="casual photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/남자 캐주얼 3.PNG" alt="casual photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

        <!-- 여자 카테고리 사진들 -->
        <div class="photo-container female-photos hidden" id="female-dandy-photos">
            <div class="photo">
                <img src="static/images/여자 댄디룩 1.PNG" alt="female-dandy photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 댄디룩 2.PNG" alt="female-dandy photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 댄디룩 3.PNG" alt="female-dandy photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

        <div class="photo-container female-photos hidden" id="female-preppy-photos">
            <div class="photo">
                <img src="static/images/여자 프레피룩 1.PNG" alt="female-preppy photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 프레피룩 2.PNG" alt="female-preppy photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 프레피룩 3.PNG" alt="female-preppy photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

        <div class="photo-container female-photos hidden" id="female-street-photos">
            <div class="photo">
                <img src="static/images/여자 스트릿룩 1.PNG" alt="female-street photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 스트릿룩 2.PNG" alt="female-street photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 스트릿룩 3.PNG" alt="female-street photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

        <div class="photo-container female-photos hidden" id="female-casual-photos">
            <div class="photo">
                <img src="static/images/여자 캐주얼 1.jpg" alt="female-casual photo 1">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 캐주얼 2.jpg" alt="female-casual photo 2">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
            <div class="photo">
                <img src="static/images/여자 캐주얼 3.PNG" alt="female-casual photo 3">
                <div class="like-icon">
                    <img src="static/images/좋아요(x).png" alt="like icon">
                </div>
            </div>
        </div>

    <script src="{{ url_for('static', filename='homeo.js') }}"></script>
</body>
</html>
